<!DOCTYPE html>
<html>
  <head>
    <title>/ascii/</title>
  </head>
  <style>
    .map {
     position: absolute;
     right: 0;
     top: 112px;
     }
  </style>
<body>
    <h1>/ascii/</h1>
    <form method="post">
        <label>
            <div>title</div> <input type="text" name="title" value="">
        </label>
        <label>
            <div>art</div>
            <textarea name="art"></textarea>
        </label>
        <div class="error"></div>
        <input type="submit">
    </form>
      {% if imgaeURL %}
        <img  class="map" src="">
      {% endif %}
    <hr>
    {% for art in arts %}
    <div class="art">
        <div class="art-title">{{art.title}}</div>
        <pre class="art-body">{{art.art}}</pre>
    </div>
    {% endfor %}
</body>
</html>
