<!DOCTYPE html>

<html>
  <head>
    <title>Unit 2 Rot 13</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Add New Employee </h2>
    <form method="post">
      <table>

        <tr>
          <td class="label">
            first Name
          </td>
          <td>
            <input type="text" name="title" value="{{firstName}}">
          </td>
          <td class="error">
            {{error_title}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Last Name
          </td>
          <td>
            <input type="text" name="title" value="{{lastName}}">
          </td>
          <td class="error">
            {{error_title}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>

        <tr>
          <td class="label">
            title
          </td>
          <td>
            <input type="text" name="title" value="{{title}}">
          </td>
          <td class="error">
            {{error_title}}
          </td>
        </tr>
          
        <tr>
          <td class="label">
            supervisor
          </td>
          <td>
            <input type="text" name="title" value="{{Manager}}">
          </td>
          <td class="error">
            {{error_title}}
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
  </body>

</html>
